.slick-prev{
    left:25px;
    z-index: 1;
}
.slick-next{
    right:25px;
}
.headmenu-slider{
    height: 600px;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    top:0;
}
.headmenu-slider__item{
    height: 600px;
}
.headmenu-slider__item {
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat
}

.headmenu-slider__item .description{
    position: absolute;
    bottom: 70px;
    left: 0;
}
.headmenu-desktop {
    margin-top: 25px;
}
.head-menu-back a {
    color: var(--white);
}
.head-menu-back {
    border-left: 2px solid var(--light-grey);
}   
.seans{
    width: 390px;
    position: absolute;
    bottom: 70px;
    right: 0;
}
.seans .film-extend {
    min-width: 85px;
}
.seans-title{
    color:var(--white);
    margin-bottom: 5px;
    font-size: 16px;
}
  
.film.dark-theme .film-time,
.film.dark-theme .film-extend{
    background-color: var(--grey-block);
    margin-left: 5px;
    border-color:var(--grey-block);
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.4);
}
.film.dark-theme .film-time:hover, .film.dark-theme .film-extend:hover {
    background-color: var(--orange)
} 
.film.dark-theme .film-time:first-child{
    margin-left: 0;
}
.film.dark-theme .film-time{
    border-top-color: var(--orange);
}

.film.dark-theme .film-time span,
.film.dark-theme .film-extend span{
    color:var(--white);
}
.calendar-week{
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}
.calendar-week-wrap{
    max-width: 100%;
    overflow:auto;
}
.calendar-day{
    border: none;
    border-radius: 6px;
    background-color: var(--white);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    width: 92px;
    height: 92px;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: rgb(68, 61, 59);
}
.calendar-day.active,
.calendar-day:hover,
.calendar-day:focus { 
    background-color: var(--orange);
    color: var(--white)!important;
}

.calendar-day.active .calendar-day__text,
.calendar-day:hover .calendar-day__text,
.calendar-day:focus .calendar-day__text {
    color: var(--orangeHEX);
}
.calendar-day__numb{
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;      
}
.calendar-day__text{
    font-size: 16px;
    color: var(--grey-text);
}
.calendar-day__month{
    font-size: 16px;   
}
.calendar-modal__ico {
    background-image: url(../assets/svg/calendar_grey.svg);
    background-repeat: no-repeat;
    background-position: left center;
    width: 26px;
    height: 26px;
    background-size: contain;
    margin-bottom: 5px;
}
.open-modal {
    border: none;
    text-align: left;
}
.page-index{
    padding: 50px 0 50px;
    background-color: #f8f8f8;
}

.film-wallpaper{
    position: absolute;
    top: 0;
    right: 0;
    height:115px;
    background-size: cover;
    width: 100%;
    background-position: center;
}

.film-wallpaper:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
}

.film-list__item{
    background-color: var(--white);
    padding: 40px 15px 25px 15px;
    max-width: 485px;
    border: 1px solid rgb(220, 219, 219);
    border-radius: 4px;
    margin: 0 auto 30px;
    position: relative;
}
.film-list__item:hover{
    box-shadow: 0px 15px 39px 0 rgba(47, 50, 66, 0.16);
}

  
.film-poster {
    border-radius: 4px;
    background-image: url(../assets/pict/poster.jpg);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.09);
    width: 78px;
    height: 114px;
    margin-right: 10px;
    position: relative;
}
.film-poster:after {
    content: '18+';
    color: var(--white);
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    width: 45px;
    height: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 4px 0;
}
.film-title{
    font-size: 24px;
    color: var(--white);
    margin-bottom: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 360px;
    white-space: nowrap;
}
.film-time {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(220, 219, 219);
    border-radius: 4px;
    background-color: var(--white);
    border-top:3px solid var(--orange);   
    padding: 5px 10px;
    min-width: 85px;
    height: 51px;
    display:flex;
    flex-direction: column;
    margin-right: 10px;
}
.film-time.active,
.film-time:hover,
.film-time:focus {
    background-color: var(--orange);
    border-color: var(--orange);
}
.film-time.active .film-time_hour,
.film-time.active .film-time_cost,
.film-time:hover .film-time_hour,
.film-time:hover .film-time_cost,
.film-time:focus .film-time_hour,
.film-time:focus .film-time_cost {
    color: var(--white);
}
.line{
    display: flex;
    margin-bottom: 10px;
}
.line-desc {
    padding-top: 35px;
    position: relative;
    z-index: 2;
}
.film{
    display:flex;
    flex-wrap: wrap;
}
.film-list__item .film{
    display:flex;
    flex-wrap: nowrap;
    overflow: auto;
}
.film div,
.film a {
    margin-top: 10px;
    cursor: pointer;
}
.film-time_hour{
    font-size: 16px;
    color: rgb(68, 61, 59); 
    font-weight: 600;
}
.film-time_cost{
    font-size: 13px;
    color: var(--grey-text);      
}
.film-tags span{
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid rgb(239, 239, 239);
    color: #929191;
    margin-top: 5px;
}
  
.film-extend{
    padding: 5px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(220, 219, 219);
    border-radius: 4px;
    background-color: rgb(239, 239, 239);
    height: 51px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: var(--grey-text);
    padding-right: 20px;
    min-width: 140px;
}
.film-extend span {
    margin-right: 10px;
}
.film-extend span:first-child{
    font-weight: 800;
    font-size: 16px;
    color: rgb(68, 61, 59);      
}
.film-extend-neva:hover,
.film-extend-neva:focus {
    background-image: linear-gradient(290deg, #b6fbff, #07a3f0, #0061da 100%);
    color: var(--white);
}
.film-extend:hover,
.film-extend:focus {
    background-color: var(--orange);
    color: var(--white);
}
.film-extend:hover span:first-child,
.film-extend:focus span:first-child {
    color: var(--white);
}
.film-extend-neva {
    background-image: -moz-linear-gradient( -20deg, rgb(182,251,255) 0%, rgb(7,163,240) 0%, rgb(0,97,218) 100%);
    background-image: -webkit-linear-gradient( -20deg, rgb(182,251,255) 0%, rgb(7,163,240) 0%, rgb(0,97,218) 100%);
    background-image: -ms-linear-gradient( -20deg, rgb(182,251,255) 0%, rgb(7,163,240) 0%, rgb(0,97,218) 100%);
    padding-right: 25px;
    position: relative;
    color: var(--white);
}
.film-extend-neva span:first-child{
    color: var(--white);
}
.film-extend-neva:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../assets/svg/arrow_white.svg);
    background-position: center;
    right: 8px;
    top: 16px;
}
.description .firstline {
    color: var(--white);
    font-size: 16px;
}
.description .firstline .genre{
    padding: 1px 12px;
    border-width: 1.5px;
    border-color: rgb(248, 248, 248);
    border-style: solid;
    border-radius: 4px;
    margin-right: 20px;      
}
.description .firstline .limit{
    margin-right: 20px;
}
.description .firstline .rating{
    margin-right: 20px;
    background-image: url(../assets/img/kinopoisk.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
}
.description .firstline .rating-im{
    background-image: url(../assets/img/imdb.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
}
.title{
    font-size: 46px;
    color: var(--white);
    line-height: 1.2;
    margin: 25px 0;
    max-width: 425px;
    font-weight: 600;
}
.description .btns{
    padding: 15px 25px 15px 45px;
    white-space: nowrap;
    font-size: 16px;
    color: var(--white);
    background-color: transparent;
    border: 2px solid var(--light-grey);
    border-radius: 4px;
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.33);
    background-image: url(../assets/svg/play-circle.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    margin-right: 10px;
}
.description .btns:hover {
    border-color: var(--orange);
    color: var(--orange);
    background-image: url(../assets/svg/play-circle_orange.svg);
}
.slick-next, .slick-prev {
    left: calc((100% - 1000px)/2 - 70px);
    border: 2px solid rgb(133, 139, 145);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 2px;
}
.slick-next:hover, .slick-prev:hover {
    border-color: var(--orange);  
} 
.slick-prev:hover:before,
.slick-next:hover:before {
    content: url(../assets/svg/arrow_orange.svg);
}
.slick-next {
    top: 64%;
}
.slick-next:before, .slick-prev:before {
    opacity: 1;
}
.slick-next:before {
    content: url(../assets/svg/arrow_white.svg);
}
.slick-prev:before {
    content: url(../assets/svg/arrow_white.svg);
}
.slick-prev {
    top: 69%;
    transform: rotate(180deg);
}
.headmenu-slider_counter {
    position:absolute;
    padding: 10px;
    border:4px solid;
    left: calc((100% - 1000px)/2 - 80px);
    top: 81%;
    color: var(--white);
    border: none;
    transform: rotate(-90deg);
    font-size: 16px;
}

.secondline-item {
    display: inline-block;
    vertical-align: top;
}
.secondline-item-soc {
    float: right;
}
/* @media (min-width: 768px) { 
    .film-list .pure-u-1:nth-child(2n) .film-list__item {
        margin: 0 0 0 auto;
    }
} */
@media (max-width: 1024) { 
    .film-list {
        padding: 0 40px;
        margin: 100px
    }
}

@media (max-width: 768px) { 
    .description .btns{
        width: 100%;
        margin-bottom: 20px;
    }
    .film-poster {
        display:none;
    }
    .film-time,
    .seans .film-extend {
        min-width: 80px;
    }
    .film-time:last-child {
        margin-right: 15px;
    }
    .film.dark-theme  .film-extend {
        margin-left: 0;
    }
    .headmenu-slider__item .description{
        padding: 0 30px;
        bottom: 180px;
    }
    .seans{
        width: 100%;
        padding: 0 30px;
        bottom: 60px;
    }
    .film-title{
        max-width: calc(100% - 30px);
        font-size: 24px;
    }
    .headmenu-slider_counter{
        right: 100px;
        left: auto;
        top: auto;
        bottom: 64px;
        transform: rotate(0);
        width: 100px;
    }
    .slick-next,    
    .slick-prev{
        top: auto;
        bottom: 16px;
        left: auto;
        width: 40px;
        height: 40px;
    }
    .slick-next{
        right: 30px;
    }
    .slick-prev{
        right: 92px;
        bottom: 35px;
    }
    .calendar-day {
        margin-right: 0;
    }
    .calendar-day:first-child {
        margin-left: 20px;
    }
    .calendar-day__numb {
        font-size: 26px;
    }
    .calendar-week {
        margin-bottom: 20px;
        justify-content: flex-start;
    }
    .page-index {
        padding-top: 20px
    }
    .film-list {
        padding: 0 20px;
    }
    .film-any {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .film-any div {
        margin-bottom: 0
    }
    .film-any .film-extend {
        min-width: 140px;
    }
    .film-extend span:first-child {
        font-size: 12px;
    }
    .film-tags {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .film-tags span {
        margin-right: 5px;
    }
    .calendar-day__numb {
        font-size: 30px;
        width: 100%;
        display: inline-flex;
        align-items: baseline;
        flex-wrap: nowrap;
    }
    .calendar-day__text {
        margin-left: 5px;
    }
    .headmenu-slider {
        height: auto;
    }

}
@media (max-width: 955px) { 
    .calendar-day__numb {
        font-size: 26px;
    }
    /* .film.dark-theme .film-extend{
        margin-top: 10px;
    } */
}
@media (max-width: 370px) { 
    .description .firstline .genre,
    .description .firstline .limit,
    .description .firstline .rating,
    .description .firstline .rating-im {
        margin-right: 5px;
    }
    .film.dark-theme .film-time, .film.dark-theme .film-extend  {
        margin-right: 5px;
        margin-left: 2px;
    }
    .headmenu-slider_counter {
        left: 42%;
    }
    .film-tags span {
        padding: 4px 6px;
        margin-right: 5px;
    }
}
@media (max-width: 500px) { 
    .film-title{
        max-width: 300px;
        font-size: 20px;
    }
}
@media (max-width: 350px) { 
    .film-title{
        max-width: 200px;
        font-size: 20px;
    }
}
@media (max-width: 600px) { 
    .film.dark-theme .film-extend {
        margin-right: 300px;
    }
}

