.head-sticky{
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
}
.btn-menu {
  display: block;
  border: 0;
  width: 40px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
}
.btn-menu:focus {
  outline: none;
}

.show_menu .btn-menu:focus {
	outline: none;	
}

.btn-menu .text {
	display: block;
	text-indent: 150%;
	white-space: nowrap;
	overflow: hidden;	
}

.btn-menu .bar,
.btn-menu .bar:before,
.btn-menu .bar:after {
	display: block;
	position: absolute;
	width: 40px;
	height: 3px;
	background-color: #929292;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn-menu .bar {
	top: 10px;
	left: 20px;	
}
	
.btn-menu .bar:before {
	position: absolute;
	content: '';
	top: 10px;
	left: 0;
}

.btn-menu .bar:after {
	position: absolute;
	content: '';
	top: -10px;	
	left: 0;
}

.show .btn-menu .bar {
	background-color: transparent;	
}

.show .btn-menu .bar:before {
	top: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);	
}

.show .btn-menu .bar:after {
	top: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);	
}
.show .head-sticky .head-user .user-ico{
  stroke: #929292;
}
.show  .header-mobile .head-logo--typed a {
  color: #fff;
}
.show .btn-menu .bar, .show .btn-menu .bar:before, .show .btn-menu .bar:after {
  width: 30px;
}
.overlay {
  width: 0;
  height: 100%;
  overflow: hidden;
  position: fixed; 
  top: 0;
  left: 0;
  transition: width 0.3s ease-in;
  background-color: #121212;
  z-index: 8888;
}

.show .overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  
}

nav ul {
  list-style-type: none;
  position: relative;
  top: 50px;
  left: 30px;
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.3s 0.2s ease-out;
}

.show nav ul {
  padding: 0;
  opacity: 1;
  transform: translateX(0);
  margin-top: 100px
}

.header-mobile  nav a {
  display: block;
  width: 200px;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.content {
  background-color: #FFF;
  height: 100%;
  transition: all 0.7s ease-out;
  padding: 30px;
}

.show .content {
  background-color: #000;
  opacity: 0;
}

.centered-content {
  width: 500px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid green;
}

.header-mobile nav ul li{
    margin-bottom:40px;
}

.header-mobile .head-logo--typed{
  color:var(--white);
}
.user-ico {
  stroke: #929292;
}
.head-user {
  position: relative;
  right: 30px;
}
.head-sticky {
  position: relative;
  top: 20px;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
}
.header-mobile .head-logo--typed a {
  font-weight: 900;
  font-family: sans-serif;
}
.header-mobile {
  width: 100%;
  height: 70px;
}

@media (min-width: 770px) { 
  .header-mobile{
      display: none;
  }
 
}
@media (max-width: 340px) { 
  .header-mobile .head-logo--typed a {
    font-size: 14px;
  }
}