.modal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10100;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 15px;
    background: rgba(0, 0, 0, 0.9);
    transition: opacity .15s linear;
}
.modal-body {
    /* height: calc(100vh - 219px); */
    height: calc(var(--vh, 1vh) * 100 - 219px);
}
.modal.open{
    display: block;
}
.modal-back {
    width: 50px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    padding: 19px 0;
}
.modal-wrap {
    width: 90%;
    /* min-height: 100vh; */
    min-height: calc(var(--vh, 1vh) * 100);
    background-color: #161616;
    margin: auto;
    position: relative;
}

.modal-close {
    position: absolute;
    right: -45px;
    top: 0;
}
.modal-close svg {
    width: 34px;
    height: 34px;
    cursor: pointer;
    stroke: #fff;
}
.modal-close svg:hover {
    stroke: var(--orange)
}
.modal-head{
    min-height:150px;
    padding: 20px 0 20px 50px;
    background-size: cover;
    background-position: 20% 20%;
    display: flex;
    flex-direction: row;
}
.modal-head_right {
    padding-left: 35px;
}
.modal-head_btn {
    background-color: rgba(35, 35, 35, 0.8);
    border-radius: 4px;
    opacity: 0.8;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.4);
    padding: 15px 45px 15px 45px;
    position: relative;
    color: var(--white);
    font-size: 16px;
    border: none;
    margin-bottom: 10px;

}
.modal-head_btn:after {
    content: url(../assets/svg/arrow-right_white.svg);
    position: absolute;
    right: 12px;
    top: 14px;
    width: 24px;
    height: 24px;
}
.modal-head .film.dark-theme .film-time {
    border-top: none;
}
.modal-head_btn:before {
    content: url(../assets/svg/calendar_white.svg);
    position: absolute;
    left: 12px;
    top: 13px;
}
.grey {
    color: var(--grey-text);
}
.modal-head_btn:hover {
    background-color: var(--orange)
}
.modal_title {
    font-size: 18px;
    color: var(--white);
    line-height: 1.2;
}
.modal_cinema {
    font-size: 16px;
    color: var(--white);
    padding-top: 10px;
}
.modal-head_left {
    width: 340px;
    position: relative;
}
.modal-head_left:after {
    content: '';
    width: 2px;
    height: 65px;
    background-color: var(--light-grey);
    position: absolute;
    right: 0;
    top: 30px;
}
.modal-seats{
    display: flex;
    color:#fff;
}
.modal-seats_list {
    padding: 0;
}
.modal-seats_item{
    height: 51px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 4px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.modal-seats_total{
    border-top: 1px solid rgb(44, 44, 44);
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.seats-row {
    color: var(--grey-text);
    font-size: 13px;
}
.modal-status {
    display: flex;
    align-items: center;
    height: 60px;
}
.modal-status_elem {
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 20px 20px 20px 40px;
    position: relative;
    height: 100%;
}  
.modal-status_elem.active:first-child{
    background-color: var(--orange);
}
.modal-status_elem.active:nth-child(2){
    background-color: var(--blue);
}

.modal-status_elem:after {
    content: '';
    height: 50%;
    position: absolute;
    left: 100%;
    z-index: 1;
    top: 0;
    width: 1px;
    background: #2c2c2c;
    transform: skew(19deg);
}

.modal-status_elem:before {
    content: '';
    height: 50%;
    position: absolute;
    left: 100%;
    z-index: 1;
    bottom: 0;
    width: 1px;
    background: #2c2c2c;
    transform: skew(-19deg);
}

.modal-status_elem.active:first-child:after {
    content: '';
    width: 12px;
    height: 50%;
    position: absolute;
    left: 100%;
    background: linear-gradient(to right top, var(--orange) 50%,transparent 54%);
    z-index: 1;
    top: 0;
    transform: skew(0);
}

.modal-status_elem.active:first-child:before {
    content: '';
    width: 12px;
    height: 50%;
    position: absolute;
    left: 100%;
    background: linear-gradient(to right bottom, var(--orange) 50%,transparent 54%);
    z-index: 1;
    bottom: 0;
    transform: skew(0);
}

.modal-status_elem.active:nth-child(2):after {
    content: '';
    width: 12px;
    height: 50%;
    position: absolute;
    left: 100%;
    background: linear-gradient(to right top, var(--blue) 50%,transparent 54%);
    z-index: 1;
    top: 0;
    transform: skew(0);
}

.modal-status_elem.active:nth-child(2):before {
    content: '';
    width: 12px;
    height: 50%;
    position: absolute;
    left: 100%;
    background: linear-gradient(to right bottom, var(--blue) 50%,transparent 54%);
    z-index: 1;
    bottom: 0;
    transform: skew(0);
}
.modal-seats_item_row,
.modal-seats_item_place {
    display: flex;
    flex-flow: column;
}
.modal-seats_item_row {
    width: 100px;
    padding-right: 45px;
}
.modal-seats_item_place {
    width: 100px;
    padding-right: 15px;
}


.modal-seats_right{
    padding: 30px 20px;
}  
.modal-seats_title{
    margin-bottom: 30px
}
.modal-seats_right,
.modal-seats{
   height: calc(100vh - 219px);
   /* height: calc(var(--vh, 1vh) * 100 -219px); */
   overflow-y: scroll;
}

.modal-footer_right,
.modal-seats_right{
    width:380px;
    border-left:1px solid #2c2c2c;
}

.modal-seats_item_close {
    cursor: pointer;
}
.modal-seats_item_price {
   width:100px;
   padding-right: 10px;
}
.modal-footer{
    display: flex;
}
.modal-seats_left{
    width: calc(100% - 380px);
}
.modal-footer_left{
    width: calc(100% - 380px);  
    display: flex;
    border-top:1px solid #2c2c2c;
}
.modal-buy{
    width: 380px;
    min-height: 60px;    
    line-height: 60px;
    text-align: center;
    color:#fff;
    background-color: var(--orange);
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.modal-buy:hover {
    background-color:#dd6641;
}


.modal-enter{
    padding: 20px 90px;
}
.modal-enter_box{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(44, 44, 44);
    background-color: rgb(22, 22, 22);
    height: 66px;
    padding: 10px 75px;  
    margin-bottom: 100px;
    background: url(../assets/img/ticket.png) 10px center no-repeat;
}
.modal-enter_box .time{
    color: var(--orange);
}

.field-group{
    margin-bottom: 20px;
}


.modal-enter_title{
    font-size: 24px; 
    margin-bottom: 20px;       
}

.modal-enter_subtitle{
    font-size: 14px;      
}

.btn-signin{
    border-radius: 4px;
    background-color: var(--orange);
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.15);
    width: 100px;
    height: 49px;   
    text-align: center; 
    border: none;  
    margin-right: 20px;
    font-size: 16px; 
    margin-top: 10px;
}
.btn-signin:hover {
    background-color:#dd6641;
}
.btn-signup{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(44, 44, 44);
    border-radius: 4px;
    background-color: rgba(251, 116, 74, 0);
    width: calc(100% - 125px);
    height: 49px;     
    font-size:14px;
    color: rgb(108, 108, 108);
    text-align: center;  
    font-size: 16px;  
    margin-top: 10px;
}
/* .modal-mini_body .btn-signup{
    width: calc(100% - 95px);
} */
.btn-signup:hover {
    border-color: var(--orange);
    color: var(--orange);
}
.separate-line{
    padding: 35px 0 0;
    color: rgb(108, 108, 108);
    font-size: 16px;
}
.separate-line hr{
    top: -19px;
    position: relative;
    z-index: 0;
}
.separate-line_text{
    background-color: #161616;
    position: relative;
    z-index: 1;
    padding-right: 20px;
}
.modal-social{
    display: flex;
}
.modal-social a{
    margin-right: 20px;
}
.modal-enter .pure-u-1:first-child {
    padding-right: 30px;
}
.modal-seats_right::-webkit-scrollbar,
.modal-seats::-webkit-scrollbar,
.modal-seats_left::-webkit-scrollbar,
.modal-seats_content::-webkit-scrollbar { 
    display: none; 
 }
@media (max-width: 1280px) { 
    .modal-footer_right, 
    .modal-seats_right,
    .modal-buy {
        width: 313px;
    }
    .modal-enter{
        padding: 20px 30px 20px 55px;
    }
    .modal-enter .pure-u-1:first-child{
        padding-right: 30px;
    }
    .btn-signin{
        width:85px;
        margin-right: 8px;
    }
    .btn-signup{
        width:calc(100% - 95px);;
    }
    .modal-mini .btn-signup{
        width:calc(100% - 95px);;
    }
    .modal-seats_left .btn-signup{
        width:calc(100% - 95px);
    }
}
@media (max-width: 1311px) { 
    .modal-seats_left .btn-signup{
        width:calc(100% - 95px);
    }
    .modal-seats_left .btn-signin{
      margin-right: 5px;
      width:85px;
}

}
/* modal-mini */
.modal-mini{
    display: none; 
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10100;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity .15s linear;
}
.modal-mini.open{
    display: block;
}
.modal-mini_wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010;
    margin: auto;
    width: 374px;
    height: 460px;
    border-radius: 8px;
    box-shadow: -6px 0px 84px 0 rgba(0, 0, 0, 0.41);
    background-color: #161616;

}
.modal-mini_body{
    padding: 40px 30px;
    font-size:0;
}

.black-theme{
    color:#fff;
}
@media (max-width: 768px) { 
    .modal-mini_wrap{
        position: absolute;
        bottom: auto;
        /* height: 100vh; */
        height: calc(var(--vh, 1vh) * 100);
        width: 100%;
    }
    .btn-signup {
        width: calc(100% - 101px);
    }
    .modal-social {
        margin: 20px 0;
    }
    .modal-head_btn {
        margin-bottom: 0;
    }
}
@media (max-width: 923px) {
    .modal .film {
        display: flex;
        flex-wrap: nowrap;
    }
    .modal-status_elem {
        padding: 20px 10px 20px 20px;
    }
}
@media (max-width: 768px) { 
    .modal{
        padding: 0;
    }
    .modal-mini_body {
        margin-top: 100px;
      }
    .modal-head_left,
    .modal-wrap{
        width: 100%
    }
    .modal-footer_left,
    .modal-footer_right, 
    .modal-seats_left,
    .modal-seats_right{
        width: auto;
    }
    .modal-seats_left{
        min-height: 650px;
    }
    .modal-footer_right{
        width: calc(100% - 50px);
    }
    .modal-footer_left {
        background-color: rgba(0,0,0,0.8);
    }
    .modal-enter{
        padding: 10px 30px;
        margin-bottom: 60px;
        z-index: 2;
    }
    /* .modal-seats_right,  */
    .modal-seats{
        /* height: calc(100vh - 280px); */
        height: calc(var(--vh, 1vh) * 100 - 280px);
    }
    .modal-reg .modal-seats_right, 
    .modal-reg .modal-seats {
        height: auto;
    }
    .modal-enter_box{
        margin-bottom: 20px;
        padding: 10px 10px 10px 75px;
        font-size: 13px;
    }
    .modal-enter .pure-u-1:first-child{
        padding-right: 0;
    }
    .modal-status,
    .modal-seats_right{
        display: none;
    }
    .modal-head{
        padding: 50px 10px 10px;
        flex-direction: column;
    }
    .modal-head_right {
        padding-left: 0;
    }
    .modal-close{
        right:10px;
        top:5px;
    }
    .modal-body {
        /* height: calc(100vh - 280px); */
        height: calc(var(--vh, 1vh) * 100) - 280px;
    }
    .modal-buy {
        width: 100%;
    }
    .modal-head_left:after {
        display: none;
    }
    .modal-footer {
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 3;
    }

}
@media (max-width: 350px) {
    .modal-close {
    right: 10px;
    top: 5px;
}
.modal-enter_box{
    padding: 10px 10px 10px 60px;
    font-size: 12px;
}
}
@media (max-width: 1092px) {
    .modal-enter_box {
        font-size: 14px;
        padding: 10px 20px 10px 75px;
        margin-bottom: 50px;
    }
    .modal-seats .btn-signin,
    .modal-seats .btn-signup {
        width: 100%;
    }
    .modal-enter_title {
        font-size: 22px;
    }
}
@media (max-width: 925px) { 
    .modal-enter_box {
        font-size: 13px;
        margin-bottom: 50px;
    }
    .modal-enter_title {
        font-size: 20px;
    }
}
@media (max-width: 900px) { 
    .modal-enter_box {
        font-size: 12px;
        margin-bottom: 50px;
    }
    .modal-enter_title {
        font-size: 18px;
    }
    .modal-enter_subtitle {
        font-size: 14px;
    }
}
@media (max-width: 878px) { 
    .modal-enter_box {
        font-size: 11px;
        margin-bottom: 50px;
    }
    .modal-seats_left .btn-signup {
        font-size: 14px;
    }
    .modal-enter_title {
        font-size: 16px;
    }
}
@media (max-width: 820px) { 
    .modal-seats_left .btn-signup {
        font-size: 13px;
    }
    .modal-enter_title {
        font-size: 14px;
    }
}

.modal-about{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10100;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity .15s linear;
}

.modal-about_wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    z-index: 1000;
    width: 1004px;
    height: 555px;
    border-radius: 4px;
    box-shadow: -6px 0px 84px 0 rgba(0, 0, 0, 0.41);
    background-color: #161616;
    overflow: hidden;
    color:#fff;
}
.modal-about__head{
    padding: 55px;
    background-image: url("../assets/pict/movie.jpg");
    background-position: center;
    background-size: cover; 
}

.modal-about__info{
    height: 70px;
    border-radius: 6px;
    box-shadow: 0px 15px 39px 0 rgba(47, 50, 66, 0.16);
    background-color: #191919;
    margin: -35px 55px 30px;
    border: 1px solid #2c2c2c;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modal-about__info_el{
    display: flex;
    flex-direction: column;
}

.modal-about__body{
    padding: 0 55px;
}
.modal-about__acterslist{
    width: 75%;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    list-style: none;
    padding: 0;
}
.modal-about__acterslist li{
    margin-bottom: 10px;
}