body {
    background-color: rgb(25, 25, 25);
}
.page-index {
    background-color: rgb(25, 25, 25);
    height: 100%;
}
.description .btn-buy {
    background-color: var(--orange);
    border: var(--orange);
    background-image: none;
    padding: 15px 50px 15px 50px;
}
.description .btn-buy:hover {
    background-color: #dd6641;
    background-image: none;
    color: var(--white);
}
.headmenu-slider {
    height: 100%;
}
.headmenu-slider__item {
    height: 100%;
}
header.header-m {
    height: 100vh;
}
.calendar-day {
    background-color: rgb(22, 22, 22);
    border: 2px solid rgb(44, 44, 44);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    color: var(--white);
}
.open-modal {
    color: var(--grey-text)
}
.film-hall {
    border: 1px solid rgb(102, 102, 102);
    border-radius: 8px;
}
.film-hall__item {
    border-radius: 8px 8px 0 0;
    border-bottom: none;
    background-color: rgb(22, 22, 22);
    padding: 15px;
    border-bottom: 1px solid rgb(102, 102, 102);
}
.film-hall__item:last-child {
    border-bottom: none;
    border-radius: 0 0 8px 8px;
}
/* .film-hall__item {
    display: flex
} */
.film a{
    margin-top: 0;
}
.film-time.disabled {
    pointer-events: none;
    filter: opacity(0.1);
}
.hall-name {
    color: var(--white);
    line-height: 1.5;
    margin-right: 100px;
    width: 120px;
}
.hall-format {
    background-color: var(--orange);
    padding: 2px 13px;
    border-radius: 4px;
    font-size: 16px;
}
.play {
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -40px;
    margin-left: -40px;
    left: 50%;
}
.modaltube {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10100;
    overflow-y: auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
.modaltube.open{
    display: flex;
}
footer {
    background-color: rgb(22, 22, 22);
}
.footer-col__title {
    color: rgb(102, 102, 102);
}
.footer-col__content {
    color: var(--white);
    font-family: "Futura PT Book", arial;
}
.footer-secondline {
    border-color: rgb(102, 102, 102);
}
footer .x-menu-item span {
    color: rgb(102, 102, 102);
}

@media (max-width: 768px) { 
    header.header-m {
        height: 650px;
    }
    .page-index{
        height:100%;
    }
    .film-hall{
        margin: 0 30px;
    }
    .headmenu-slider__item .description{
        bottom: 30px;
        width: 100%;
    }
    .headmenu-slider__item {
        min-height: 650px;
    }
    .description .btns {
        background-position: 31%;
    }
    .buttons {
        display: flex;
        flex-direction: column-reverse;
    }
    .hall-name {
        min-width: 80vw;
        margin-right: 0;
    }
    .play{
        top: 35%;
        display: block;
    }
    .play img:hover {
        filter: opacity(0.5);
    }
    .footer-col--phoneico {
        border-color:  rgb(102, 102, 102)
    }
    .secondline-item-soc:after {
        content: '';
        position: absolute;
        width: 100vw;
        margin-left: -30px;
        overflow: hidden;
        height: 1px;
        background-color: #2c2c2c;
        top: -7px;
    }
    .secondline-item-soc:before {
        content: '';
        position: absolute;
        width: 100vw;
        margin-left: -30px;
        overflow: hidden;
        height: 1px;
        background-color: #2c2c2c;
        bottom: 4px;
    }
   
}
@media (max-width: 320px) { 
.headmenu-slider__item .description{
    bottom: 80px;
    width: 100%;
}
}

