body {
    background-color: rgb(25, 25, 25);
}
.page-index {
    background-color: rgb(25, 25, 25);
    height: 100vh;
}
.description .btn-buy {
    background-color: var(--orange);
    border: var(--orange);
    background-image: none;
    padding: 15px 50px 15px 50px;
}
.headmenu-slider {
    height: 100vh;
}
.headmenu-slider__item {
    height: 100vh;
}
header.header-m {
    height: 100vh;
}
.calendar-day {
    background-color: rgb(22, 22, 22);
    border: 2px solid rgb(44, 44, 44);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    color: var(--white);
}
.calendar-modal {
    color: var(--grey-text)
}
.film-hall {
    border: 1px solid rgb(102, 102, 102);
    border-radius: 8px;
}
.film-hall__item {
    border-radius: 8px 8px 0 0;
    border-bottom: none;
    background-color: rgb(22, 22, 22);
    padding: 15px;
    border-bottom: 1px solid rgb(102, 102, 102);
}
.film-hall__item:last-child {
    border-bottom: none;
    border-radius: 0 0 8px 8px;
}
.film a{
    margin-top: 0;
}
.film-time.disabled {
    pointer-events: none;
    filter: opacity(0.1);
}
.hall-name {
    color: var(--white);
    line-height: 1.5;
    margin-right: 100px;
    width: 120px;
}
.hall-format {
    background-color: var(--orange);
    padding: 2px 13px;
    border-radius: 4px;
    font-size: 16px;
}

  



footer {
    background-color: rgb(22, 22, 22);
}
.footer-col--helpico {
    background-image: url(../assets/svg/help__grey.svg);
}
.footer-col--phoneico {
    background-image: url(../assets/svg/phone__grey.svg);
}
.footer-col__title {
    color: rgb(102, 102, 102);
}
.footer-col__content {
    color: var(--white);
}
.footer-secondline {
    border-color: rgb(102, 102, 102);
}
footer .x-menu-item span {
    color: rgb(102, 102, 102);
}

  