
.office-navigation{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.13);
    min-height: 57px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
h1 {
    font-size: 32px;
    padding-top: 30px;
}
.office-navigation .office-navigation_link{
    font-size: 16px;
    color: rgb(68, 61, 59);
    min-height: 57px;
    min-width: 245px;
    line-height: 57px;
    padding: 0 20px;
    font-weight: 600;
}
.office-navigation_link:hover,
.office-navigation_link.active{
    color: var(--orange);
    border-bottom: 3px solid  var(--orange);
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.18);
}
.office-navigation_link:hover svg,
.office-navigation_link.active svg {
    stroke: var(--orange)
}
.tickets {
    margin-bottom: 20px;
    margin-top: 60px
}
.tickets_item{
    max-width: 485px;
    height: 190px;
    border-radius: 8px; 
    background-position: center;
    background-size: cover;     
    color: rgb(255, 255, 255);
    position: relative;
    padding: 110px 0 0 30px;
    margin: 0 auto 30px;
    overflow: hidden;
}
.ticket_info svg {
    vertical-align: text-bottom;
}
.ticket_info span {
    margin-right: 50px;
}
.tickets_item:after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(248, 248, 248);
    position: absolute;
    right: -25px;
    top: 50%;
    margin-top: -25px;
}

.tickets_item:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 108%;
    border-radius: 50px;
    position: absolute;
    right: 70px;
    top: -3px;
    border-right: 6px dotted #fff;
}

.ticket_title{
    font-size: 24px;  
    margin: 0 0 10px;   
}

.ticket_info{
    font-size: 16px;      
}
.setting {
    background-color: rgb(248, 248, 248);
}
.office-navigation_link.active svg g path,
.office-navigation_link:hover svg g path {
    fill: var(--orange);
}
.office-navigation_link.active svg
.office-navigation_link:hover svg {
    stroke: var(--orange);
}
.office-navigation_list{
    display: flex;
}

.profile-menu-icon {
    width: 16px;
    margin-right: 5px;
    margin-bottom: 4px;
}
.ticket-ico .profile-menu-icon {
    width: auto;
}
.outofoffice{
    border:none;
    background: transparent;
    margin-right: 20px
}
.form-title {
    font-size: 24px;
    font-weight: 500;
    margin: 50px 0 0px 0;
}
.form-title span {
    font-size: 16px;
    color: var(--grey-text);
    margin-left: 20px;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 324px;
    border: 1px solid rgb(220, 219, 219);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.09);
    color: #000;
    text-align: left;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: -128px;
    left: 11%;
    margin-left: -60px;
    padding: 30px;
    border-radius: 4px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.tooltip .tooltiptext::before, .tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    left: 285px;
    top: -21px;
    border: 10px solid transparent;
    border-bottom: 10px solid rgb(220, 219, 219);
   }
.tooltip .tooltiptext::after {
    border-bottom: 10px solid white;
    top: -19px;
    left: 290px;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.field-group {
    max-width: 340px;
}
.btns-form {
    background-color: var(--orange);
    background-color: rgb(251, 116, 74);
    border: none;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white);
    padding: 20px 60px;
    margin-top: 60px;
}
form {
    margin-bottom: 120px;
}
  
.btns-form:hover {
    background-color: #dd6641;
}
.recommendation-films h1 {
    padding-top: 0
}
.field-group .fg-label {
    color: var(--grey-text);
    font-size: 16px;
    top: 17px;
}
.header-mobile .head-logo--typed a {
    color: var(--orange);
    font-weight: 900;
    font-family: sans-serif;
}
.header-mobile {
    width: 100%;
    height: 70px;
}


@media (max-width: 768px) { 
    .setting {
        padding-bottom: 30px
    }
    main{
        padding: 0 20px;
    }
    .tickets_item{
        padding: 100px 0 0 20px
    }
    .ticket_info span {
        margin-right: 0;
        margin-left: 5px;
    }
    
    .office-navigation_list{
        width: 100%;
    }
    .office-navigation .office-navigation_link{
        min-width: 0;
        width: 50%;
        padding: 0 10px;
    }
    .footer-logo{
        margin: auto;
    }
    .form-title{
        position: relative;
    }
    .form-title span.tooltip{
        position: static;
        font-size: 0;
        margin-left: 0;
        vertical-align: middle;
    }
    .tooltip:hover .tooltiptext{
        font-size: 16px;
        right: 0;
        left: auto;
        width: calc(100vw - 60px);
        margin: 0;
        top: 100%;
        padding: 10px;
        height: auto;
    }
    .tooltip .tooltiptext::before, 
    .tooltip .tooltiptext::after{
        right: 20px;
        left: auto;
    }
    .tooltip .tooltiptext::after{
        left: auto;
    }
    .recommendation-films .film-list {
        padding: 0;
    }
}

@media (min-width: 768px) { 
    .tickets .pure-u-1:nth-child(2n) .tickets_item {
        margin: 0 0 0 auto;
    }
}
@media (max-width: 370px) { 
.ticket_info span:nth-child(2) {
    display: block
}
.description .firstline .genre,
.description .firstline .limit,
.description .firstline .rating,
.description .firstline .rating-im {
    margin-right: 5px;
}
.film.dark-theme .film-time, .film.dark-theme .film-extend  {
    margin-right: 5px;
    margin-left: 2px;
}
.headmenu-slider_counter {
    left: 42%;
}
.film-tags span {
    padding: 4px 6px;
    margin-right: 5px;
}
}