:root {
    --orange:rgb(252, 117, 74);  
    --orangeHEX: #964c36;
    --white:#ffffff;
    --black:#000000;
    --grey-text:rgb(146, 145, 145);
    --grey-block:#4b535a;
    --blue:#283c64;
    --light-grey:hsla(0, 0%, 100%, 0.3);
    --grey: rgba(255, 255, 255, 0.5);
}

body{
    font-family: "Futura PT Book", arial;
    font-size: 18px;
    line-height: 1.2;
    color: #443d3b;
    font-style: normal;
    font-weight: normal;
}
.pure-g{
    font-family: "Futura PT Book", arial;
    font-style: normal;
    font-weight: normal;
}
.pure-g [class*=pure-u]{
    font-family: "Futura PT Book", arial;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.x-menu-item {
    position: relative;
    text-align: center
}
.x-menu-item:hover .x-sizer{
    visibility: hidden;
}

.x-menu-item:hover .x-displayer{
    border-bottom: 3px solid var(--orange);
}
.x-menu-item span{
    color: rgb(68, 61, 59);
    text-decoration: none;
}

.x-sizer {
    visibility: hidden;
    border-bottom: 3px solid #b50d0c;
}


.x-displayer {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto
}



h1{
    margin-top: 0;
    font-size: 46px;
    color: rgb(68, 61, 59);
    line-height: 1.2;
}
h2{
    font-size: 24px;
    color: rgb(68, 61, 59);
    line-height: 1.2; 
}
h3{
    font-size: 14px;
    color: var(--grey-text);
    text-transform: uppercase;
    line-height: 2;      
}
h4{
    font-size: 18px;
    color: #443d3b;
    line-height: 1.333;      
}
.aligncenter{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 150px;
    box-sizing: border-box;
}
.divflexcenter{
    display: flex;
    align-items: center;
}

header.header-m{
    height:600px;
    overflow: hidden;
    position: relative;
}
.header-m .headmenu-desktop{
    position: relative;
    z-index: 100;
}

.head-user,
.header-m .x-menu-item span{
    color:var(--white);
}
.head-user:hover {
    cursor:pointer
}
.header-m .x-sizer {
    border-bottom: 3px solid var(--orange);
}
.head-logo--typed{
    font-size: 18px;
    color: var(--white);
    font-weight: bold;
    line-height: 1.2;      
    letter-spacing: 2px;
    text-transform: uppercase;
}
.head-logo a{
    color: var(--white);
}

.headmenu-desktop{
    display: flex;
    justify-content: space-between;
}
.container{
    max-width: 1000px;
    margin: auto;
    height: 100%;
    position: relative;
}

.head-menu-back{
    margin-left: 30px;
    padding-left: 30px;
    border-left: 1px solid var(--light-grey);
    height: 40px;
    line-height: 40px;
}
.head-menu-back a{
    color: #dadada;
}
.head-menu--left,
.head-menu--right{
    display: flex;
    align-items: center;
}

.head-menu a{
    margin: 0 15px;

}
.head-user{
    margin-left: 45px;
}
.pcontacts{
    padding: 50px 0;
    background-color: #f8f8f8;
}
.phone {
    font-size: 46px;
    color: rgb(68, 61, 59);
    text-decoration: none;
}
.map {
    height: 690px;
}

.footer-logo {
    margin-right: 25px;
}
.footer-col{
    margin: 0 25px;
    padding-left: 35px;
}
.footer-col__title{
    font-size: 14px;
    font-family: 'Futura PT';
    font-weight: 500;
    color: var(--grey-text);
    text-transform: uppercase;       
}
.footer-col--pay{
    display: flex;
    align-items: center;
}
.footer-col--pay img {
    width: 47px;
    margin-right: 10px;
}
.footer-col--social {
    float: right
}
.footer-col--social a{
    margin: 0 12px;
}
.footer-col--helpico{
    background-image: url(../assets/svg/help_grey.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center left;
}
.footer-col--phoneico{
    background-image: url(../assets/svg/phone_grey.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center left;
}
.footer-col__content{
    font-size: 18px;
    font-family: "Futura PT Demi";
    color: rgb(68, 61, 59);
    line-height: 1.333;
}
.footer-firstline{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-secondline{
    padding: 25px 0;
    border-top:1px solid #e2e2e2;
}
.footer-link a {
    margin: 15px;
}
.footer-link a:first-child {
    margin-left: 0;
}
.footer-link a:last-child {
    margin-right: 0;
}
.footer-col--social {
    margin-right: 0
}


span.arrow{
    margin-right: 10px;
}

span.arrow:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 13px;
    border-right: 2px solid;
    border-bottom: 3px solid;
    transform: skew(-20deg) rotate(-60deg);
}


/* icons */
svg {
    vertical-align: middle;
}
.x-circle {
    stroke: var(--grey);
}
.x-circle:hover {
    stroke: var(--orange);
}
.modal__chevron-right {
    stroke: var(--grey-block);
    vertical-align: middle;
}
.modal-arrow-left-circle:hover {
    stroke: var(--orange);
}
.head-arrow-right {
    stroke: var(--grey);
    width: 20px;
}
.head-user svg {
    vertical-align: bottom;
}
/* .head-menu-back a:hover  .head-arrow-right {
    border-bottom: 3px solid var(--orange);
    stroke: var(--orange);
} */
.head-arrow-right:hover {
    stroke: var(--orange);
}

@media (max-width: 768px) { 
    .footer-logo,
    .mobile-hide{
        display: none;
    }
    .divflexcenter{
        flex-flow: column
    }
    footer .divflexcenter {
        margin: 0;
        align-items: normal;
    }
    .footer-col{
        margin: 0 0 10px;
    }
    footer{
        padding: 30px;
    }
    .footer-firstline{
        padding: 0;
    }
    .footer-col--social{
        width: 100%;
        padding: 20px 0;
    }
    .footer-link{
        display: flex;
        flex-flow: column-reverse;
        align-items: flex-start;
    }
    .footer-link a{
        margin:0 10px 10px 0;
    }
    .head-user{
        margin-left: 0;
    }
    .head-logo--typed {
    margin: auto
    }
    .footer-col--helpico {
        margin-bottom: 40px;
    }
    footer .divflexcenter {
        width: 100%;
    }
    /* .footer-col--phoneico {
        width: 100%;
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 30px;
        background-position: 0 19%;
    } */
    .footer-secondline {
        border-top: none;
        padding: 25px 0 25px 0;
    }
    .secondline-item a {
        display: block;
        text-align: left;
    }
    .secondline-item .footer-col--social a {
        display: inline;
        padding-right: 22px;
    }
    .footer-col--pay {
        padding-left: 0;
        position: absolute;
        bottom: 142px;
    }
    .secondline-item-info {
        padding-top: 83px;
    }
    .secondline-item-info a {
        padding-bottom: 6px;
    }
    .secondline-item-soc {
        position: relative;
        float: right;
    }
    .secondline-item-soc:after {
        content: '';
        position: absolute;
        width: 100vw;
        margin-left: -30px;
        overflow: hidden;
        height: 1px;
        background-color: #e3e3e3;
        top: -7px;
    }
    .secondline-item-soc:before {
        content: '';
        position: absolute;
        width: 100vw;
        margin-left: -30px;
        overflow: hidden;
        height: 1px;
        background-color: #e3e3e3;
        bottom: 4px;
    }
    .secondline-item {
        display: inline-block;
        vertical-align: top;
    }
    .film-time.mobile-hide {
        display: none;
    }
    .modal-head .seans-list {
        display: inline-block;
        vertical-align: bottom;
        width: calc(100% - 170px);;
        overflow: auto;
    }
    .modal-head  .film-time, .seans .film-extend {
        min-width: 100px;
    }
    .modal-head .film.dark-theme .film-time {
        background-color: var(--orange);
        color: #fff;
        border: none;
        height: 49px;
        margin-left: 20px
    }
    .modal-head .film.dark-theme .film-time:first-child {
        margin-left: 20px
    }
    .modal_cinema {
        margin-bottom: 20px;
    }
    .modal-wrap .modal-head {
        padding: 0 30px;
        height: 220px;
    }
    .modal-head_right {
        margin-bottom: 20px
    }
    .modal_title {
        margin-top: 30px;
    }
}
@media (max-width: 350px) {
    .modal-head .film.dark-theme .film-time:first-child {
        margin-left: 0;
    }
    .modal-head .film-time, .seans .film-extend {
        min-width: 80px;
    }
    .modal-close {
    right: 26px;
    top: 10px;
}
}
